:root{
  --fon-color: #f8fAfC;
  --color-accent: #0a2342;
  --color-accent-shadow: rgba(245, 110, 15, 0.7);
  --fon-color-2: #262626;
  --text-color: #878787;
}

body {
  width: 100dvw;
  height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--fon-color);
  display: flex;
  align-items: flex-start;
  flex-direction: column;
  position: relative;
  user-select: none;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
}

.input {
  display: none;
}

#menu-bar {
  width: 100%;
  height: 3.5rem;
  background-color: var(--color-accent);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  z-index: 15;
  color: var(--fon-color);

  #Text-Logo {
    margin: 0 0 0 1rem;
  }

  #menu {

  }

  #menu_mobile {
    display: none;
  }
}

#Content-Site {
    width: 100%;
    height: calc(100% - 3.5rem);
    margin-top: auto;
    display: grid;
    flex-direction: row;
    /* overflow: hidden; */
    grid-template-columns: 1fr 1fr;
    grid-template-areas:         
    "content content content content content content content content"
    "contact contact contact contact contact contact contact contact";

  .content {
    height: 100vh;
    width: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out, transform 0s 0.5s;
  }
  .content:not(:last-child) {
    grid-area: content;
  }
  .content:last-child {
    grid-area: contact;
  }

  #content-home {
    background-color: antiquewhite;
  }

  #content-info {
    background-color: aqua;
  }
}



#Home:checked ~ #Content-Site #content-home {
  transform: translateX(0);
  opacity: 1;
  transition: transform 0s 0s, opacity 0.5s 0.1s ease-in-out;
}

#General-info:checked ~ #Content-Site #content-document {
  transform: translateX(-100%);
  opacity: 1;
  transition: transform 0s 0s, opacity 0.5s 0.1s ease-in-out;
}

@media (orientation: portrait) {
  #menu-bar {
    position: relative;

    #button-menu {
      height: 1.5rem;
      width: 2rem;
      cursor: pointer;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      margin: 0 1rem 0 0;
      position: relative;
      transition: height 0.5s 0.3s;

      span {
        position: absolute;
        display: block;
        width: 100%;
        height: 0.25rem;
        background-color: var(--fon-color);
        border-radius: 0.25rem;
        transition: transform 0.5s ease-in-out;
      }

      #line1 {
        top: 0;
      }

      #line2 {
        top: calc(50% - 0.15rem);
        opacity: 1;
        transition: opacity 0.5s;
      }

      #line3 {
        bottom: 0;
      }

    }

    #menu-button:checked ~ #menu {
      
    }

    #menu-button:checked ~ #button-menu {
      height: 0.3rem;
      transition: height 0.5s 0s;
      
      #line1 {
        transform: rotate(45deg);
      }

      #line2 {
        opacity: 0;
        transition: opacity 0.1s;
      }

      #line3 {
        transform: rotate(-45deg);
      }
    }
  }
}
