:root {
  --fon-color: #e6e9ec;
  --color-accent: #00203f;
  --text-color: #2f2f2f;
}

* {
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
  scroll-snap-type: y mandatory;
}

body {
  width: 100dvw;
  min-height: 100dvh;
  margin: 0;
  padding: 0;
  background-color: var(--fon-color);
  display: flex;
  flex-direction: column;
  position: relative;
  user-select: none;
  font-family: 'Lato', sans-serif;
  overflow-x: hidden;
  overflow-y: auto;
}

.input {
  display: none;
}

#menu-bar {
  width: 100%;
  height: 3.5rem;
  background-color: var(--fon-color);
  box-shadow: 0 0 0.3rem var(--text-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: row;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 15;
  color: var(--color-accent);

  a {
    text-decoration: none;
    outline: none;
    color: inherit;
  }

  #Text-Logo {
    margin: 0 0 0 1rem;
  }

  #menu {
    display: flex;
    flex-direction: row;
    align-items: center;
    white-space: nowrap;
    gap: 0.5rem;
    margin-right: 1rem;

    .menu-group-label {
      position: relative;
    }

    .label {
      cursor: pointer;
      padding: 0.5rem 0.5rem;
      background-color: var(--fon-color);
      color: var(--color-accent);
      border-radius: 1rem;
      transition: background-color 0.5s ease-in-out, color 0.5s ease-in-out;
    }

    .dropdown-content {
      position: absolute;
      background: var(--fon-color);
      box-shadow: 0 0 0.2rem var(--text-color);
      padding: 0.5rem;
      border-radius: 1rem;
      display: flex;
      flex-direction: column;
      gap: 1rem;
      bottom: -5.7rem;
      left: 0;
      opacity: 0;
      visibility: hidden;
      transition: opacity 0.5s ease-in-out, visibility 0s 0.5s;

      &::before {
        content: '';
        position: absolute;
        height: 2rem;
        width: 100%;
        left: 0;
        top: -1.5rem;
      }

      .label {
        width: min-content;
        border-radius: 0;
        color: var(--color-accent);
        background-color: var(--fon-color);
        padding: 0;
        border-bottom: 0.15rem solid var(--fon-color);
        transition: border 0.5s ease-in-out;

        &:hover {
          background-color: var(--fon-color);
          color: var(--color-accent);
          border-bottom: 0.15rem solid var(--color-accent);
        }
      }
    }

    .label:hover {
      background-color: var(--color-accent);
      color: var(--fon-color);
    }

    .menu-group-label:hover .dropdown-content {
      opacity: 1;
      visibility: visible;
      transition-delay: 0s;
    }

    /*.label.active:not(.dropdown-content .label) {
      background-color: var(--color-accent);
      color: var(--fon-color);
    }*/
  }

}


#Content-Site {
  width: 100%;
  margin-top: 3.5rem;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-areas: 
    "content"
    "contact";
}

.content {
  height: calc(100vh - 3.5rem); 
  width: 100%;
  opacity: 0;
  pointer-events: none;
  scroll-snap-align: end;
  visibility: hidden;
  transition: opacity 0.5s ease-in-out;
}

.content:not(:last-child) {
  grid-area: content;
}

.content:last-child {
  grid-area: contact;
  opacity: 1;
  pointer-events: auto;
  background-color: var(--color-accent);
}

body:has(.input[name="trigger"]:checked) #Content-Site .active {
  opacity: 1;
  visibility: visible;
}


@media (orientation: portrait) {
  #menu-bar {

    #button-menu {
      height: 1.5rem;
      width: 2rem;
      margin: 0 1rem 0 0;
      position: relative;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      position: relative;
      cursor: pointer;
      transition: height 0.5s 0.3s;

      span {
        position: absolute;
        display: block;
        width: 100%;
        height: 0.35rem;
        background-color: var(--color-accent);
        border-radius: 0.3rem;
        transition: transform 0.5s ease-in-out;
      }
        
      #line1 {
        top: 0;
      }
        
      #line2 {
        top: calc(50% - 0.15rem);
        opacity: 1;
        transition: opacity 0.5s 0.3s;
      }

      #line3 {
        bottom: 0;
      }
    }

    #menu-button:checked ~ #menu {
      max-width: 100%;
    }

    #menu-button:checked ~ #button-menu {
      height: 0.35rem;
      transition: height 0.5s 0s;
      
      #line1 {
        transform: rotate(45deg);
      }

      #line2 {
        opacity: 0;
        transition: opacity 0.1s;
      }

      #line3 {
        transform: rotate(-45deg);
      }
    }
    
    #menu {
      position: absolute;
      background-color: var(--color-accent);
      width: 100%;
      height: calc(100vh - 3.5rem);
      top: 3.5rem;
      right: 0;
      margin: 0;
      max-width: 0%;
      overflow: hidden;
      flex-direction: column;
      box-sizing: border-box;
      padding: 1rem 0rem;
      transition: max-width 0.5s ease-in-out;
    }
    
  }
}
